<div class="row">
	<div class="col-md-12" ng-form="builderConfigForm">
		<p><input type="checkbox" ng-model="config.cheesePreference"> Cheese Preference</p>
		<p><input type="checkbox" ng-model="config.favoriteColor"> Favorite Color</p>
		<p><input type="checkbox" ng-model="config.lightsaberColor"> Lightsaber Color</p>
		<p><input type="checkbox" ng-model="config.nickname"> Nickname</p>
	</div>
	<div class="col-md-12">
		<button class="btn btn-success btn-block" ng-click="saveConfig()">Save Config</button>
	</div>
</div>